<div class="container-fluid position-relative px-0">
    <!-- Main Navbar -->
    <div class="container-navbar w-100">
        <app-main-navbar></app-main-navbar>
    </div>
</div>
<div class="container-fluid position-relative px-0">
    <div class="col-12 d-flex">
        <!-- Main Panel -->
        <div class="col-8">
            <app-main-video-panel></app-main-video-panel>
        </div>
        <!-- Main Playlist -->
        <div class="col-4">
            <app-main-video-playlists></app-main-video-playlists>
        </div>
    </div>
</div>