.videos-playlists {
    .cards {
        height: 120px;

        .cover {
            width: 220px;

            img {
                object-fit: cover;
                object-position: center;
            }
        }

        .description {
            p {
                font-size: 15px;
                font-weight: 500;
            }

            span {
                font-size: 12px;
                font-weight: 400;
            }
        }
    }
}